fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
pyjwt[crypto]
cryptography
requests
cloudinary
langchain
langchain-community
langchain-openai
beautifulsoup4
pypdf
pydub
gtts
elevenlabs
httpx
torch
diffusers
transformers
accelerate
deep-translator
pillow
safetensors
huggingface_hub
